table#juego tr td,
table#juego tr th {
    border: solid 1px black;
    padding: 5px;
    margin: 0;
    text-align: center;
}
table#juego {
    display: inline;
}
table#juego tr td.rojo {
    color: red;
    background-color: blue;
}
table#juego tr td.amarillo {
    color: yellow;
    background-color: blue;
}
table#juego tr td.vacio {
    color: darkblue;
    background-color: blue;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

div#leprechaun img {
    width: 200px;
    float: right;
}
